<div class="profile">
    <div class="main row">
        <div class="col-md-12">

            <article class="cont_top_profile">
                <div class="week-img">
                    <img src="img/profile_img.png" class="img-responsive" alt="week-img">
                </div>
                <div class="week-text">
                    <h2 class="video-title">{{venue.title}}</h2>
                    <p class="week-subs">{{venue.address}}</p>
                </div>
            </article>
        </div>


        <div class="video-block row">
            <a href="" class="but_profile phone_but" ng-enabled="venue.phone_number"><i class="but_dicore_profile tell_docor"></i>{{venue.phone_number}}</a>

            <a href="https://www.google.com/maps/place/{{venue.address}}" class="but_profile central_but"><i class="but_dicore_profile pointer_sut_profile"></i>{{venue.title}}</a>

            <a class="but_profile sundown_but " ng-enabled="false"><i class="but_dicore_profile plus_decor"></i>Follow</a>
        </div>
        <h4 class="title_profile">Upcoming Events</h4>
        <div class="list_profile">

            <div class="week-item" ng-repeat="event in venue.events track by $index">
                <a href="event-details.html" class="week-img">
                    <img ng-src="{{event.img_url}}" style="max-height: 100px; max-width: 100px;" class="img-responsive">
                </a>
                <div class="week-text">
                    <span class="week-title"><a href="#/event-details/{{event.id}}">{{event.title| limitTo:25}}</a><span> @ </span><a href="#/venue-details/{{event.venueId}}">{{venue.title | limitTo:25}}</a></span>
                    <p class="week-subs">{{ event.start_date | date:"EEEE - MMM. d, yyyy - h:mm a"}} &nbsp;- &nbsp; {{venue.city}}, {{venue.state}}</p>
                    <p class="tag-btn">
                        <span ng-if="event.promoted" class="price-tag">promoted</span>
                        <span class="price-tag">{{event.pricesymbol}}</span>
                        <span class="age-tag">{{event.category}}</span>
                        <span class="video-tag" ng-if="event.video">Video</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>