<div class="jables-pagination-container">

    <ul class="pagination">

        <li ng-click="prevPage()">
            <a href="javascript:void(0);" aria-label="Previous">
                <span aria-hidden="true">Prev</span>
            </a>
        </li>

        <li ng-repeat="n in numAry track by $index">
            <a href="javascript:void(0);" ng-class="{'page-selected':n.value==currentPage}" ng-bind="n.value" ng-click="pageClick($event,$index)"></a>
        </li>

        <li ng-click="nextPage()">
            <a href="javascript:void(0);" aria-label="Next">
                <span aria-hidden="true">Next</span>
            </a>
        </li>

    </ul>

</div>